@import url(http://https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {color:#555;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      }
#header {background-color: #1abc9c;
          height: 125px;
          line-height:125px;
        }
#header-title { display: block;
                        float: left;
                        font-size: 20px;
                        font-weight: bold;
              }
#header-nav li{ display: inline;
                        padding-left: 70px;
                        margin-top: 0;
                        float:right;
              }
.container{max-width: 1000px;
            margin:  auto;
          }
#header a{ color: white;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.1cm;
          }
#header a:hover {color:#222;}


#footer {background-color: #2f2f2f;
         height:175px;
         font-size: 20px;
         text-decoration-color: #ff8c00;
        }
.a {float: left;
   }
.b {float: right;
    color: white;
    }
#footer  a:hover {color: #8B0000;}
#footer  a { text-decoration: none;}
#footer  h4 {text-transform: uppercase;
            color: white;
            letter-spacing: 0.05cm;
            }
.contenant  {max-width: 800px;
             margin-left: 0;
            display: block;
            }
.post-author img { width: 100px;
                  ;
                   height: 100px;
                   vertical-align:middle;
                 }
.post-author span {margin-left: 20px;
                  }
.post-title {color: #ff8c00;}
.post-date {padding-left: 30px;
            color: #D2d2d2;
            font-size: 14px;
            font-weight: bold;
            text-transform:uppercase;
            letter-spacing: 0.05cm;}
h1, h2,h4 {color:#333;}
#content  {line-height: 2;
            padding-left: 20px;
            margin: 0 auto;
            max-width: 800px;
  }
#content h3{padding-left: 25px;}
#content a{text-decoration: none;}
.post-content a{text-decoration: none;
                color: #ff4500;}
#content p {margin: 0 auto;
          max-width: 800px;
          padding-left: 70px 0;}
.post {background-color: #FFEBCD;}
